@using System.Security.Policy
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> *@

</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Bài tập lớn Lập trình web</li>
                                <li>Miễn phí giao hàng trong bán kính 2 km</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div
                            <div class="header__top__right__auth">
                                @{
                                    var tenDangNhap = HttpContextAccessor.HttpContext.Session.GetString("TenDangNhap");
                                    var loaiTaiKhoan = HttpContextAccessor.HttpContext.Session.GetString("LoaiTaiKhoan");
                                    if (string.IsNullOrEmpty(tenDangNhap))
                                    {
                                        <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập</a>
                                    }
                                    else
                                    {
                                        if (loaiTaiKhoan == "Admin")
                                        {
                                         <script>
                                                window.location.href = '@Url.Action("DanhMucSanPham", "Homeadmin", new { area = "admin" })';
                                            </script>
                                        }
                                        //Đung xoá đoạn dưới
                                        // if (loaiTaiKhoan == "Admin")
                                        // {
                                        //     <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhMucSanPham">
                                        //         <i class="fa fa-user"></i> Quản trị
                                        //     </a>
                                        // }
                                        // else
                                        {
                                          <a href="#" class="" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-user"></i> Xin chào, @tenDangNhap
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-controller="Account" asp-action="UserProfile">
                                                    Thông tin khách hàng
                                                </a>

                                                <a href="javascript:void(0);" onclick="confirmLogout('@Url.Action("LogOut", "Account")')" class="dropdown-item">Đăng xuất</a>
                                            </div>   
                                        }
                                        // <div class="dropdown">
                                          
                                        // </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-controller="Home" asp-action="Index"><img src="../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Trang chủ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Cart">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span id="cartCount">@(Context.Session.GetInt32("CartCount") ?? 0)</span>
                                </a>
                            </li>

                        </ul>
                        <div class="header__cart__price">Tổng giá trị: <span class="totalAmountCart">@(Context.Session.GetString("TotalAmountCart") ?? "0") VND</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("LoaiHangMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Tất cả loại hàng
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input id="searchBox" onkeyup="fetchSuggestions()" type="text" placeholder="Bạn cần tìm gì?">
                                <button type="submit" class="site-btn">TÌM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 123.456.789</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div id="suggestions" style="display: none"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Khu 2, Hoàng Cương, Thanh Ba, Phú Thọ</li>
                            <li>Phone: +84 987.654.321</li>
                            <li>Email: cocainit@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết hữu ích</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Về cửa hàng chúng tôi</a></li>
                            <li><a href="#">Mua sắm an toàn</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Đăng ký bản tin của chúng tôi!</h6>
                        <p>Nhận email cập nhật về cửa hàng mới nhất và các ưu đãi đặc biệt của chúng tôi.</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập địa chỉ email của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="../img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.nice-select.min.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/jquery.slicknav.js"></script>
	<script src="~/js/mixitup.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("LoadCartOnce", "Cart")',
                type: 'get',
                success: function (response) {
                    if (response.isCartLoaded == false) {
                        $('#cartCount').text(response.cartCount);
                        $('.totalAmountCart').text(response.totalAmountCart + " VND");
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra khi tải giỏ hàng.');
                }

            });
        });

        function fetchSuggestions() {
            const query = document.getElementById('searchBox').value;
            if (query.length >= 2) {
                fetch(`/api/SearchAPI/GetSuggestions?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        let suggestions = document.getElementById('suggestions');
                        suggestions.innerHTML = ''; // Xóa gợi ý cũ
                        data.forEach(item => {
                            let imageUrl = '@Url.Content("../ProductImages/")' + item.anhSanPham;
                            suggestions.innerHTML += `
                                <div class="suggestion-item">
                                    <a href="/Home/Detail?productId=${item.maSanPham}">
                                                <img src= "${imageUrl}" alt="${item.tenSanPham}" class="suggestion-img" />
                                        <div class="suggestion-info">
                                            <span class="suggestion-name">${item.tenSanPham}</span>
                                            <span class="suggestion-price">${item.donGiaBan} VND</span>
                                        </div>
                                    </a>
                                </div>`;
                        });
                    });
            } else {
                document.getElementById('suggestions').innerHTML = '';
            }
        }

        const searchBox = document.getElementById("searchBox")
        const div = document.getElementById("suggestions");

        // Hiển thị khi focus
        searchBox.addEventListener("focus", () => {
            div.style.display = "block";
        });

        // Ẩn khi mất focus
        searchBox.addEventListener("blur", () => {
            div.style.display = "none";
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

    <style>
        #suggestions {
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            max-height: 300px;
            overflow-y: auto;
            background-color: white;
            position: absolute;
            width: 69.5%;
            z-index: 1000;
        }

            #suggestions div {
                padding: 10px;
                cursor: pointer;
            }

                #suggestions div:hover {
                    background-color: #f0f0f0;
                }

        .suggestion-item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

            .suggestion-item a {
                text-decoration: none;
                display: flex;
                width: 100%;
                align-items: center;
            }

        .suggestion-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: 10px;
        }

        .suggestion-info {
            display: flex;
            flex-direction: column;
        }

        .suggestion-name {
            font-weight: bold;
            font-size: 18px;
            color: #333;
        }

        .suggestion-price {
            font-size: 16px;
            color: #777;
        }

    </style>

</body>
</html>