@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web_QuanLySieuThiNho.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TSanPham>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Danh mục sản phẩm</h1>

<p>
    <a asp-action="ThemSanPhamMoi">Thêm sản phẩm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Đơn giá nhập
            </th>
            <th>
                Đơn giá bán
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Trọng lượng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @item.DonGiaNhap.Value.ToString("#,##0")
                </td>
                <td>
                     @item.DonGiaBan.Value.ToString("#,##0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrongLuong) 
                </td>
                <td>
                    <a asp-action="SuaSanPham" asp-route-masp="@item.MaSanPham">Sửa</a> |
                    <a href="#" onclick="confirmDelete('@item.MaSanPham')">Xóa</a>

                </td>

            </tr>
        }
       
    </tbody>
</table>
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new { pageNumber = page }))
</div>
<script>
    function confirmDelete(masp) {
        var result = confirm("Bạn có chắc chắn muốn xóa nhân viên này không?");
        if (result) {
            // Nếu người dùng nhấn OK, chuyển hướng đến URL xóa nhân viên
            window.location.href = '/Admin/Home/XoaSanPham?masp=' + masp;
        }
    }
</script>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@Html.Raw(TempData["ErrorMessage"])");
    </script>
}