@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Web_QuanLySieuThiNho.ViewModels
@using X.PagedList.Mvc.Core;
@model CategoryPageViewModel;
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@ViewBag.CategoryName</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <span>@ViewBag.CategoryName</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>SP mới nhất</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    @for (int i = 0; i < Math.Min(3, Model.LastestProductList.Count); ++i)
                                    {
                                        <a asp-controller="Home" asp-action="Detail" asp-route-productId="@Model.LastestProductList[i].MaSanPham" class="latest-product__item">
                                            <div class="latest-product__item__pic" style="height: 110px; width: 110px;">
                                                <img src=@Url.Content("../ProductImages/" + @Model.LastestProductList[i].AnhSanPham) alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@Model.LastestProductList[i].TenSanPham</h6>
                                                <span>@Model.LastestProductList[i].DonGiaBan.Value.ToString("#,##0") VND</span>
                                            </div>
                                        </a>
                                    }
                                </div>
                                <div class="latest-prdouct__slider__item">
                                    @for (int i = 3; i < Model.LastestProductList.Count; ++i)
                                    {
                                        <a asp-controller="Home" asp-action="Detail" asp-route-productId="@Model.LastestProductList[i].MaSanPham" class="latest-product__item">
                                            <div class="latest-product__item__pic" style="height: 110px; width: 110px;">
                                                <img src=@Url.Content("../ProductImages/" + @Model.LastestProductList[i].AnhSanPham) alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@Model.LastestProductList[i].TenSanPham</h6>
                                                <span>@Model.LastestProductList[i].DonGiaBan.Value.ToString("#,##0") VND</span>
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="filter__sort">
                                <span>Sắp xếp theo</span>
                                <select id="sortSelect" onchange="sortProducts(this.value, @Model.ProductList.PageNumber)">
                                    <!option value="default" @(ViewBag.SortOrder == "default" ? "selected" : "")>Mặc định</!option>
                                    <!option value="asc" @(ViewBag.SortOrder == "asc" ? "selected" : "")>Giá từ thấp lên cao</!option>
                                    <!option value="desc" @(ViewBag.SortOrder == "desc" ? "selected" : "")>Giá từ cao xuống thấp</!option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@Model.ProductList.Count</span> sản phẩm tìm thấy</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.ProductList)
                    {
                        @await Html.PartialAsync("PartialProduct", item)
                    }
                </div>
                <div>
                    @Html.PagedListPager(
                             Model.ProductList,
                             page => Url.Action(
                             "Category",
                             "Home",
                             new
                             {
                                 categoryId = ViewBag.maLoaiHang,
                                 sortOrder = ViewBag.SortOrder,
                                 pageNumber = page
                             }),
                             new PagedListRenderOptions()
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    })
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<script>

    function sortProducts(sortOrder, pageNumber) {
        const categoryId = '@ViewBag.maLoaiHang';
        const url = `@Url.Action("Category", "Home")?categoryId=${categoryId}&sortOrder=${sortOrder}&pageNumber=${pageNumber}`;
        window.location.href = url;
    }


    function quickAddToCart(productId) {
        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            data: { productId: productId, quantity: 1 },
            success: function (response) {
                if (response.success) {
                    alert('Đã thêm sản phẩm vào giỏ hàng!');
                    $('#cartCount').text(response.cartCount);
                    $('.totalAmountCart').text(response.totalAmountCart + " VND");
                } else {
                    alert('Không thể thêm vào giỏ hàng vì vượt quá số lượng sản phẩm hiện có.');
                }
            },
            error: function () {
                alert('Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.');
            }
        });
    }
</script>