@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TGioHang

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Giỏ hàng</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Giá tiền</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.TSanPhamGioHangs != null && Model.TSanPhamGioHangs.Any())
                            {
                                var idx = 0;
                                @foreach (var item in Model.TSanPhamGioHangs)
                                {
                                    var totalItemIdx = "TotalAmountItem" + idx++;
                                    <tr id="cart-item-@item.MaSanPham">
                                        <td class="shoping__cart__item">
                                            <img style="height: 100px; width: auto;" src=@Url.Content("../ProductImages/" + @item.MaSanPhamNavigation.AnhSanPham) alt="">
                                            <h5>@item.MaSanPhamNavigation.TenSanPham</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.MaSanPhamNavigation.DonGiaBan.Value.ToString("#,##0") VND
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="qty">
                                                    <input type="number" name="quantities[@item.MaSanPham]" min="1" max=@item.MaSanPhamNavigation.SoLuong value=@item.SoLuong onchange="updateCartItem('@item.MaSanPham', this.value)">
                                                </div>
                                            </div>
                                        </td>
                                        <td id="totalAmount_@item.MaSanPham" class="shoping__cart__total">
                                            @ViewData[totalItemIdx] VND
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close" onclick="removeCartItem('@item.MaSanPham')"></span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-controller="Home" asp-action="Index" class="primary-btn cart-btn">TIẾP TỤC MUA SẮM</a>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng giá trị giỏ hàng</h5>
                    <ul>
                        <li>Tổng <span class="totalAmountCart">@Context.Session.GetString("TotalAmountCart") VND</span></li>
                    </ul>
                    <a href="javascript:void(0);" class="primary-btn" onclick="checkCartBeforeCheckout()">TIẾN HÀNH THANH TOÁN</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function updateCartItem(productId, quantity) {
        $.ajax({
            url: '@Url.Action("UpdateCartItemQuantity", "Cart")',
            type: 'POST',
            data: {
                productId: productId,
                quantity: quantity
            },
            success: function (response) {
                $('#cartCount').text(response.cartCount);
                $('#totalAmount_' + productId).text(response.totalAmountCartItem + " VND");
                $('.totalAmountCart').text(response.totalAmountCart + " VND");
            },
            error: function (xhr, status, error) {
                console.error("Error updating cart: ", error);
            }
        });
    }

    function removeCartItem(productId) {
        $.ajax({
            url: '@Url.Action("RemoveCartItem", "Cart")',
            type: 'POST',
            data: { productId: productId },
            success: function (response) {
                $('#cart-item-' + productId).remove();

                $('#cartCount').text(response.cartCount);
                $('.totalAmountCart').text(response.totalAmountCart + " VND");
            },
            error: function () {
                alert('Có lỗi xảy ra khi xoá sản phẩm khỏi giỏ hàng.');
            }

        });
    }

    function checkCartBeforeCheckout() {
        $.ajax({
            url: '@Url.Action("CheckCartBeforeCheckout", "Cart")',
            type: 'GET',
            success: function (response) {
                if (response.cartHasItems)
                    window.location.href = '@Url.Action("Checkout", "Cart")';
                else
                    alert('Giỏ hàng của bạn hiện đang trống. Vui lòng thêm sản phẩm trước khi thanh toán.');
            },
            error: function () {
                alert('Có lỗi xảy ra khi kiểm tra giỏ hàng. Vui lòng thử lại.');
            }
        });
    }
</script>

